@media (min-width:500){
.container{
  min-height: 100vh;
  background-image: url(../../Images/prfct.jpg);
  overflow: hidden;
}


.row {
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin: auto;
  background: rgba(0,0,0,0.7);
  overflow: hidden;
}
}
.container{
  min-height: 100vh;
  background-image: url('../../Images/prfct.jpg');
}
.row{
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  padding: 30px;
}


