.container {
  width: 50%;
  height: 100%;
  background-color: rgb(78, 78, 78);
  padding: 5px 20px;
}

.field {
  width: 80%;
  height: 30px;
  border: black solid 1px;
  margin: 20px auto;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  /* padding: 5px; */
  padding: 0 5px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-bottom: 10px;
}
