.Regd {
  background-image: url(../../Images/prfct.jpg);
  min-height: 100vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Reg {
  display: inline-block;
  padding: 40px;
  background-color: rgba(49, 48, 48, 0.95);
  width: 70%;
  margin: 10px;
  border-radius: 20px;
}
.Reg h2 {
  font-size: 30px;
  font-family: monospace;
  /* color: rgb(214, 195, 18); */
  color: whitesmoke;
  font-weight: 400;
}
.Reg h1 {
  font-size: 20px;
  font-weight: 300;
  /* color: rgb(214, 195, 18); */
  color: whitesmoke;
  transition: 0.3s;
  margin-bottom: 15px;
}
.Reg h1:hover {
  /* text-decoration: underline; */
  transform: translateY(1px);
  cursor: initial;
}
.Reg button {
  padding: 10px;
  border-radius: 30px;
  border: none;
  /* background-color: rgba(214, 195, 18, 0.7); */
  background-color: green;
  font-size: 15px;
  font-weight: 300;
  font-family: sans-serif;
  transition: 0.3s;
}
.Reg button:hover {
  transform: translateY(2px);
}
@media (max-width: 500px) {
  .Regview {
    min-height: 100vh;
    background-image: url("../../Images/prfct.jpg");
  }
  .Reg {
    width: 100%;
  }
  .Reg h2 {
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
    font-family: monospace;
  }
  .Reg h1:hover {
    /* text-decoration: underline; */
    transform: translateY(1px);
    cursor: initial;
  }
  .Reg button {
    padding: 10px;
    border-radius: 30px;
    border: none;
    /* background-color: rgba(214, 195, 18, 0.7); */
    background-color: green;
    font-size: 15px;
    font-weight: 300;
    font-family: sans-serif;
    transition: 0.3s;
  }
  .Reg button:hover {
    transform: translateY(2px);
  }
}
