
.admin {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vmin;
  justify-content: space-around;
}
@media (max-width:500px){
.admin{
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
}
}