.Main {
  width: 100%;
  overflow: hidden;
  background-image: url("../../Images/prfct.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.Header {
  padding-left: 600px;
  cursor: pointer;
}
.Register {
  /* padding-top: 20%; */
  /* padding-left: 0; */
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.Register .contain {
  top: 25%;
  left: 20%;
  /* margin: auto; */
  position: absolute;
}
.Register button {
  border-radius: 30px;
  padding: 10px 20px;
  /* background-color: rgba(238, 146, 25, 0.87); */
  background-color: #abe0c4;
  transition: 0.3s;
}
.Register button:hover {
  /* background-color: seashell; */
  background-color: #43e68f;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.5);
}
.Register h1 {
  font-size: 30px;
  font-weight: 400;
  font-family: monospace;
  /* color: rgb(0, 0, 0); */
}

@media (max-width: 500px) {
  .Main {
    align-items: center;
    background-image: url("../../Images/prfct.jpg");
    transition: 0.3s;
    min-height: 100vh;
  }
  .Header {
    flex-flow: column;
    cursor: pointer;
  }
  .Register {
    padding-top: 400px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .Register h1 {
    font-size: 20px;
    font-weight: 200;
    font-family: monospace;
    color: black;
  }
  .Register button {
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(238, 146, 25, 0.87);
    transition: 0.3s;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .Register button:hover {
    background-color: seashell;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.5);
  }
}
