@media (min-width:500px){
.Nav ul {
  display: flex;
  flex-direction: row;
  float: right;
  padding-right: 0;
  text-decoration: none;
}
.Nav ul li {
  padding: 20px;
  list-style-type: none;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 700;
  color: rgb(231, 102, 16);
}
}
.Nav ul {
  flex-flow: column;
  padding: none;
}
.Nav ul li{
  font-weight: 100;
  font-size: 14px;
}
