.MainReg{
    background-image: url('../../Images/prfct.jpg');
    min-height: 100vh;
}



.Reg{
    display: inline-block;
    padding: 40px;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.8);

}
.Reg form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
}
.Reg form label{
    font-size: 25px;
    font-weight: 200;
    font-family: monospace;
    padding: 10px;
    
}
.Reg form label:hover{
    color: rgb(50, 235, 219);
}
.Reg form input[type=text]{
     border:none;
     border-bottom: 0.3px solid white;
     background-color: transparent;
     padding: 5px;
     padding-bottom: 15px;
     color: rgb(50, 235, 219);
     
}
.Reg form input[type=text]:focus{
    outline: none;
    border-bottom: rgb(50, 235, 219);
    background: transparent;
    border: none;
    color: rgb(50, 235, 219);
    font-size: 20px;
    
}
.Reg form input{
    color: rgb(50, 235, 219);
    border: none;
    border-bottom: 0.3px solid white;
    background: transparent;
    padding-bottom: 15px;
}

.Reg form select{
    border-top: hidden;
     border-left: hidden;
     border-right: hidden;
     background-color: transparent;
     padding: 5px;
     padding-bottom: 15px;
     color: rgb(50, 235, 219);
}
.Reg form select option{
    background-color: black;
    padding: 5px ;
   
}
.Reg form button {
    background-color: transparent;
    border: none;
    color: rgb(58, 141, 133);;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    
}
.Reg form button:hover{
    color: rgb(50, 235, 219);
    transform: translateY(-5px);
    
}


.Reg form input[type=file] {
    border: none;
    padding: 20px;
    background-color: transparent;
    font-weight: bold;
    font-family: monospace;

}
.Reg form input[type=file] button{
    border: none;
    padding: 20px;
}
